extends _template
block body
  -var page = 'home'
  .header.d-flex.justify-content-center.border-bottom
    .sprite--logo
  section
    .container.d-flex.align-items-center.flex-column
      .sprite--allCard
      span.connectCard เชื่อมบัตร All Member Visa Card
      span.connectCard--detail กรุณากรอกข้อมูลเพิ่มเติม 
  section
    .container.form
      form.needs-validation(action='kyc.html' method='' novalidate)
        .col-12
          label.form__label(for='validate-tel') เบอร์โทรศัพท์
          input.form-control#validate-tel(type='tel' value='' placeholder='099-999-9999' pattern=".{12}" required)
          //- .valid-feedback 
          .invalid-feedback กรุณากรอกเบอร์โทรศัพท์ 10 หลัก
            .invalid-feedback__desc
        .col-12(style='margin-top:34px;')
          label.form__label(for='validate-id') เลขบัตรประชาชน
          input.form-control#validate-id(type='tel' value='' placeholder='9-999-9999-9999-9' pattern=".{17}" required)
          //- .valid-feedback 
          .invalid-feedback กรุณากรอกเลขบัตรประชาชน 13 หลัก
            .invalid-feedback__desc
        .col-12(style='margin-top:34px;')
          label.form__label(for='validate-address') ที่อยู่ปัจจุบัน
          input.form-control#validate-address(type='text' placeholder='เลขที่บ้าน, แขวง, อำเภอ, จังหวัด' required)
          //- .valid-feedback 
          .invalid-feedback กรุณากรอกที่อยู่ปัจจุบัน
            .invalid-feedback__desc
        .next  
          button.btn.next--btn#check-invalid(type='submit' disabled) ถัดไป