extends _template
block body
  -var page = 'kyc'
  .header.d-flex.justify-content-center.border-bottom
    .sprite--logo
  section
    .container.d-flex.align-items-center.flex-column
      .sprite--allCard
      span.connectCard เชื่อมบัตร All Member Visa Card
      span.connectCard--detail กรุณากรอกข้อมูลเพิ่มเติม 
  section
    .container.form
      form.needs-validation(action='signing.html' method='' novalidate)
        .col-12
          label.form__label(for='validate-backId') หมายเลขหลังบัตร (Member ID) 18 หลัก 
          input.form-control#validate-backId(type='tel' placeholder='9999-9999-9999-9999-99' pattern=".{22}" required)
          .valid-feedback 
          .invalid-feedback กรุณากรอกหมายเลขบัตร 18 หลัก
            .invalid-feedback__desc
        .col-12(style='margin-top:34px;')
          label.form__label(for='validate-frontId') หมายเลขหน้าบัตร 4 หลักสุดท้าย
          input.form-control.validate-frontId(type='tel' placeholder='8434' pattern=".{4}" required)
          .valid-feedback 
          .invalid-feedback กรุณากรอกหมายเลขหน้าบัตร 4 หลัก 
            .invalid-feedback__desc 
        .col-12(style='margin-top:34px;')
          label.form__label(for='validate-job') อาชีพ
          select.form-control#validate-job(required)
            option  
            option เศรษฐี 
            option Hi-So 
          .valid-feedback 
          .invalid-feedback กรุณาเลือกอาชีพ
            .invalid-feedback__desc
        .col-12(style='margin-top:34px;')
          label.form__label(for='validate-jobaddress') ที่อยู่ที่ทำงาน
          input.form-control#validate-jobaddress(type='text' placeholder='ชื่อบริษัท จังหวัด' required)
          .valid-feedback 
          .invalid-feedback  กรุณากรอกที่อยู่ที่ทำงาน
            .invalid-feedback__desc
        .next  
          button.btn.next--btn#check-invalid(type='submit' disabled) ถัดไป