@import '../node_modules/bootstrap/dist/css/bootstrap.min';
:root {
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
}
body{
  font-family: -apple-system, BlinkMacSystemFont, //Safari Mac/iOS, Chrome
  'Segoe UI',Roboto,Oxygen, //Window, Android, KDE
  Ubuntu,Cantarell,'Fira Sans', //Ubuntu, Gnome, Firefox OS
  'Open Sans','Droid Sans','Helvetica Neue',sans-serif; //Old
  font-size: 16px;

}

.sprite{
  display: inline-block;
  background: url(./sprite.png) no-repeat;
  vertical-align: middle;
  &--allCard{
    @extend .sprite;
    background-position: -12px -12px;
    width: 92px;
    height: 60px;
    margin-top:1.75rem;
    margin-bottom: 1.3125rem;
  }
  &--logo{
    @extend .sprite;
    background-position: -119px -12px;
    width: 152px;
    height: 44px;
  }
  &--signature{
    @extend .sprite;
    background-position: -220px -235px;
    width: 25px;
    height: 20px;
  }
  &--7app{
    @extend .sprite;
    background-position: -282px -12px;
    width: 56px;
    height: 56px;
  }
  &--tmnapp{
    @extend .sprite;
    background-position: -344px -12px;
    width: 56px;
    height: 56px; 
  }
}

.header{
  &__title{
    color:#333;
    font-size: 1.5rem;
    padding: 14px 0;
  }
}

.connectCard{
  color:#333;
  &--detail{
    padding-top: 10px;
    font-size: 0.875rem;
    color:#666;
  }
}

.comfirm-otp{
  &__desc{
    color:#808080;
    font-size: 0.875rem;
  }
  &__num{
    color:#404040;
    font-size: 1.125rem;
  }
  @media(max-width: 320px){
    &__desc {
      font-size: 0.775rem;
    }
    &__num {
      font-size: 0.85rem;
    }
  }
}
.otp {
  margin-top:3rem;
  input[type=tel] {
  height: 50px;
  width: 40px;
  text-align: center;
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid #ddd;
  color:#333;
  font-weight: bold;
  } 
  &__ref{
    color:#bababa;
    font-size: 0.875rem;
    text-align: center;
    padding-top: 14px;
  }
  &__reset{
    color:#147bd1;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 3rem;
    background-color: transparent;
    border:0;
  }
}
.form{
   padding-top:2rem;
  .form-control{
    &::placeholder{
      font-size: 0.875rem;
      color:#999; 
    }
    &:focus{
      border:0;
    }
    &:valid{
      border:0;
    }
  }
  &__label{
    font-size: 0.875rem;
    color:#999;
  }
  .valid-feedback {
    display: none;
    width: 48px;
    height: 48px;
    position: absolute;
    top:1.3rem;
    right: 0.5rem;
    background: url('./icSuccess.png') no-repeat;
  }
}
.clear-sign{
  padding-top: 26px;
}
.connect{
  &__text{
    text-align: center;
    font-size: 1.125rem;
    color:#4a4a4a;
  }
  &__term{
    font-size: 0.875rem;
    color:#808080; 
  }
}
.next{
  &--btn{
    position: fixed;
    background-color: #ff8f00;
    color:#fff;
    width:90%;
    margin: 1rem 0;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    @media(max-height: 730px){
      position: relative;
      transform: none;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 1.5rem 0;
    }
  }
}
