extends _template
block body
  section
    .container.d-flex.align-items-center.flex-column.pt-5
      .sprite--success.mb-5
      span.connectCard--success เชื่อมบัตรสำเร็จ
      span.connectCard--detail คุณสามารถชำระค่าสินค้า และสะสมคะแนน<br/>ผ่านบัตร All Member Visa Card ได้แล้ว
      .next  
        button.btn.next--btn(type='submit') คลิกเพื่อดูบัตรที่เชื่อมแล้ว  